  	<!--WORK IN PROGRESS SCRIPT, NOT FINISHED-->
  	
  	<!--script to toggle active element on navbar-->
  	<script type="text/javascript">

    $(document).ready(function(){
        //set active item based on the path of the link we click
        //change active item to what we click on the nav bar
        var pathname = window.location.pathname;
        $('a[href="'+pathname+'"].item').addClass("active");
      });
  
  	</script>

  	</body>
</html>