<!DOCTYPE html>
<html>
	<head>
		<!--include semantic ui-->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet" type="text/css">
		<title>Travel Forum</title>
	</head>
	<body>
		<div class="ui fixed small menu">
			<!--<div class="ui container">-->
				<div id="site-name" class="header item"><i class="globe icon"></i>Travel Forum</div>
				<a href="/" class="active item">Home</a>
				<a href="/blogs/new" class="item">New Post</a>
				<div class="right menu"> <!--Shift items to the right-->
					<a href="#" class="item">Sign Up</a>
					<a href="#" class="item">Log In</a>
				</div>
			<!--</div>-->
		</div>