<%-include("../partials/header")%>
<link href="/stylesheets/auth.css" rel="stylesheet" type="text/css">

<div style="margin-top:55px;" class="ui main text container segment">
			<div class="ui huge header">Login</div>
			<form class="ui form" action="/topics" method="POST">
			
			<div class="field">
				<label>Username</label>
				<input type="text" name="username" placeholder="username">
			</div>

			<div class="field">
				<label>Password</label>
				<input type="password" name="password" placeholder="password">
			</div>
			<button class="ui tiny blue button">Login</button>
			</form>

			<div class="center ui message">
      		New to us? <a href="/register">Sign Up</a>
    		</div>
</div>

<%-include("../partials/footer")%>