<%-include("../partials/header")%>
<link href="/stylesheets/auth.css" rel="stylesheet" type="text/css">

<div style="margin-top:55px;"class="ui main text container segment">
			<div class="ui huge header">Sign Up</div>
			<form class="ui form" action="/register" method="POST">
		
			<div class="field">
				<label>Username</label>
				<input type="text" name="username" placeholder="username">
			</div>
		
			<div class="field">
				<label>E-mail</label>
				<input type="email" name="email" placeholder="e-mail">
			</div>

			<div class="field">
				<label>Password</label>
				<input type="password" name="password" placeholder="password">
			</div>
			<button class="ui tiny blue button">Sign Up</button>
			</form>

			<div class="center ui message">
      		Already have an account? <a href="/login">Login</a>
    		</div>
</div>

<%-include("../partials/footer")%>
